In [2]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import db
from firebase_admin import firestore
import pandas as pd

In [20]:
image_list = pd.read_csv('urls2.csv',names=['idx','uri'])

In [22]:
image_list = image_list.iloc[1:101]

In [4]:
cred = credentials.Certificate('poosi-4701d-firebase-adminsdk-q51v4-d518685d8d.json')
default_app = firebase_admin.initialize_app(cred)

In [5]:
db = firestore.client()

Adding only first 100 images from the list:

In [46]:
for a,(b,c) in image_list.iterrows():
    db.collection('images').add({
        'uri': c
    })

Getting all images from the db.

In [6]:
id=[]
uri=[]
for d in db.collection('images').get():
    id.append(d.id)
    uri.append(d.to_dict()['uri'])

In [7]:
images = pd.DataFrame({'id':id, 'uri':uri})

In [12]:
images.head()

                     id                                                uri
0  01b9yDJGuNkkrfh2IUpx  https://images.pexels.com/photos/1165720/pexel...
1  05VdujYaoYw2zlFA3wDj  https://images.pexels.com/photos/1472738/pexel...
2  0BYjyxMEBeSiCKviXSpm  https://images.pexels.com/photos/1472903/pexel...
3  0Q21lc117hl7hzQiIJ9q  https://images.pexels.com/photos/1140792/pexel...
4  0TUUTtxKhqmn0Lt3XMrE  https://images.pexels.com/photos/1002534/pexel...

In [8]:
u = []
i = []
r = []
for user in db.collection('users').get():
    uid = user.id
    for img in user.reference.collection('ratings').get():
        iid = img.id
        rating = img.to_dict()['rating']
        
        u.append(uid)
        i.append(iid)
        r.append(rating)

In [9]:
ratings = pd.DataFrame({'userId':u, 'imageId':i, 'rating':r})

In [10]:
ratings

Empty DataFrame
Columns: [userId, imageId, rating]
Index: []